# jupyter notebook 사용방법
* shift + enter 키를 누르면 셀이 실행되고 커서가 다음셀로 이동합니다.
* ctrl + enter 키를 누르면 셀 실행, 다음셀로 이동 안함
* enter키를 누르면 다시 편집상태로 돌아옵니다.
* esc 키를 누르고
    * a 키를 누르면 위에 셀이 추가됩니다.
    * b 키를 누르면 아래에 셀이 추가 됩니다.
    * dd키를 누르면 셀이 삭제됩니다.
    * m 키를 누르면 문서 셀로 변경됩니다.
    * y 키를 누르면 코드 셀로 변경됩니다.
* h 키를 누르면 주피터 셀 설정 설명을 볼 수 있다.
* view에 toggle linenumber를 누르면 작성한 코드의 라인 넘버를 알 수 있다.
* 오래 걸리는 코드는 stop버튼을 눌러 멈출 수 있다.
* kernel -> restart & clear output을 누르면 주피터 노트북이 다시 실행이 되면서 코드 결과의 흔적들이 다 사라진다.
* kernel -> restart & rul all을 누르면 주피터 노트북이 다시 실행되면서 셀을 순차적으로 실행해준다
### 마크다운이란?
* 코드와 함께 문서화 할 수 있다
* 문서화 할 수 있는 '문법'이다.
* #를 쓰고 반드시 한칸 공백을 주어야 마크다운을 사용할 수 있다.
* esc+m을 누르면 코드도 마크다운 셀로 변경할 수 있다.
'''
여러 줄의 설명을
줄바꿈으로 쓰고자 할 때
'''

In [15]:
print("Hello world")

Hello world

In [16]:
a = 1
b = 2
a+b

3

# 학습하기
* 소문자로 만들기 .lower()
* 대문자로 만들기 .upper()
* 리스트 추가 -> append()
* 마지막 인덱스 -> -1
* enumerate(리스트) -> 인덱스 번호와 원소 같이 사용가능

In [17]:
#enumerate 사용 예제
list = ["appple", "banana"]
for i, val in enumerate(list):
    print(i,val)

0 appple
1 banana

# 문자열
* 앞뒤 공백 제거 -> .strip()
* 문자열 길이 -> len(문자열)
* 공백 기준으로 문자열 분리 -> split()
* 슬라이싱 -> ex) list[:2]
* .startswitch("문자") -> 특정문자가 포함되는지 확인 가능 => 리턴값 boolen
* in -> 특정 문자열 포함 확인 가능 ex) "문자" in  문자열

# 리스트
* "(어떤문자열로 연결할 것인지 여기에 결정)".join -> 리스트로 분리된 문자열을 원하는 문자열로 연결할 수 있음.
* in -> 리스트에 해당 데이터를 포함하고 있는지 확인 가능

# pandas
* 수식으로 계산할 수 있고 시각화도 할 수 있는 데이터 분석도구
* 공식문서 활용
    * pd.DataFrame? <- 실행하면 공식문서를 볼 수 있다.
    * pd.DataFrame(shift + tab + tab)
* df["a"] -> series 데이터
* df[["a"]] -> DataFrame 형태의 데이터
    * DataFrame은 2차원의 구조를 가지고 series는 1차원의 구조를 가진다.

In [18]:
import pandas as pd

df = pd.DataFrame(
{"a" : [4, 5, 6],
"b" : [7, 8, 9],
"c" : [10, 11, 12]},
index = [1, 2, 3]) # <- index 번호를 준 것. 값을 준 것이 아님.
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

# subset
* 인덱스를 조정해서 원하는 값만 가져올 수 있다
* 주의 -> 두 개 이상의 값을 불러 올때는 DataFrame 형태로 불러와야 한다.
    * 두 개 이상을 series로 불러오면 키값 오류 발생
* columns 기준으로 값을 가져올 경우 대괄호 두번

# summarize Data
* .value_couts() -> 빈도수를 구한다
* +) len(데이터프래임) -> 길이를 구할 수 있다.

In [19]:
df["a"]

1    4
2    5
3    6
Name: a, dtype: int64

# Reshaping

### sort_values
* .sort_values() -> 기준을 정해서 데이터 정렬가능
    * 특정한 컬럼 기준으로 정렬할경우
        ex) 데이터프레임["컬럼이름"].sort_values()
    * DataFrame 전체에서 값을 기준으로 정렬할 경우
        ex) df.sort_values("값")
    * 역순 정렬 -> ascending=False를 주면 된다
    
### drop     
* 특정 값을 drop하고 싶은 경우 -> .drop() 사용
    * 행을 기준으로 할 것인지 컬럼을 기준으로 할 것인지 결정
    * 디폴트 옵션 -> axis=0 (컬럼을 기준으로 drop)
    * axis=1 -> 행을 기준으로 drop

In [20]:
df["a"].sort_values()

1    4
2    5
3    6
Name: a, dtype: int64

In [21]:
df.sort_values("a")

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [22]:
df.sort_values("a", ascending=False)

   a  b   c
3  6  9  12
2  5  8  11
1  4  7  10

In [24]:
df = df.drop(["c"], axis=1)
df

   a  b
1  4  7
2  5  8
3  6  9

# Group Data
* pivot 과 pivot_table 과의 차이점
    * pivot은 형태만 바꿈
    * pivot table 은 값을 연산할 수 있음
* .groupby(["기준 컬럼값"])["적용할 컬럼값"]  **가장 어렵다고 느끼는 부분**
    * grouby 후 사용할 수 있는 기능
        * .mean() <- 평균값
        * .agg(["mean", "sum", "count"]) 
        * .describe() <- 한번에 볼 수 있음

In [26]:
df.groupby(["a"])["b"].mean()
# a컬럼값을 기준으로 groupby 하여 b컬럼값으로 평균값을 구하는 코드

a
4    7
5    8
6    9
Name: b, dtype: int64

In [28]:
pd.pivot_table(df, index="a") #기본 설정은 mean이다
# valudes ="b" 이렇게 따로 지정하는 것도 가능하다
# aggfunc="sum" <- 이렇게 따로 지정 가능

   b
a
4  7
5  8
6  9

# plotting
* 다양한 시각화 가능
* .plot()로 사용
* .plot.함수() <- 여러 그래프로 표현 가능